<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Welcome</title>

<div >
  
    
    <hr>
    <form action="/" method="GET">
      <h2>Welcome to Coding Competition #2 by Revina , NORKA B3</h2>
      <a class="nav-link" href="/home">Send Email</a>
        </div>
</div>
<!--====form section start====-->
</body>
</html>